header(class="bg-red-100 text-gray-900 shadow p-4 mb-6")
  h1.text-2xl.font-bold TrailTracker

  nav.mt-2
    ul.flex.space-x-4
      li
        a(class=(currentPage === 'home' ? 'text-yellow-700 font-semibold' : 'text-black hover:text-yellow-600 transition') href="/") Home
      li
        a(class=(currentPage === 'goals' ? 'text-yellow-700 font-semibold' : 'text-black hover:text-yellow-600 transition') href="/goals") Goals
      li
        //a(class="text-black hover:text-yellow-700 transition" href="/users/profile") Profile
        a(class=(currentPage === 'profile' ? 'text-yellow-700 font-semibold' : 'text-black hover:text-yellow-600 transition') href="/users/profile") Profile
      li
        //a(class="text-black hover:text-yellow-700 transition" href="/auth/login") Login
        a(class=(currentPage === 'home' ? 'text-yellow-700 font-semibold' : 'text-black hover:text-yellow-600 transition') href="/") Home